<h2>welocome</h2>
<h2>{{title}}</h2>

<app-my-greeting></app-my-greeting>
<app-my-greeting></app-my-greeting>
<app-my-greeting></app-my-greeting>

<app-property-binding></app-property-binding>

<app-event-bind-demo></app-event-bind-demo>

<app-two-way-databind-demo></app-two-way-databind-demo>

<app-ngif-demo></app-ngif-demo>

<app-ngfor-demo></app-ngfor-demo>

<app-ngstyle-demo-component></app-ngstyle-demo-component>

<app-ngclass-demo></app-ngclass-demo>

<app-ngswitch-demo></app-ngswitch-demo>

<p appHighlight>hello</p>

<app-template-ref-var-demo></app-template-ref-var-demo>

<app-product-list></app-product-list>

<app-pipe-demo></app-pipe-demo>