<!--
<div>
  <nav>
    <ul class="list-container">
      <li class="listItem">
        <a routerLink="home" routerLinkActive="Active">
          
        Home</a>
      </li>
      <li class="listItem">
        <a routerLink="login" routerLinkActive="Active">Login</a>
      </li>
      <li class="listItem">
        <a routerLink="electronic" routerLinkActive="Active">Electronics</a>
      </li>
      <li class="listItem">
        <a routerLink="furniture" routerLinkActive="Active">Furniture</a>
      </li>
      <li class="listItem">
        <a routerLink="clothing" routerLinkActive="Active">Clothing</a>
      </li>
    </ul>
  </nav>
</div>
-->

<div class="container-fluid">
  <nav class="nav-bar">
    <ul class="nav-bar nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home" routerLinkActive="Active">
          
        Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" routerLink="login" routerLinkActive="Active">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="electronic" routerLinkActive="Active">Electronics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="furniture" routerLinkActive="Active">Furniture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="clothing" routerLinkActive="Active">Clothing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile" routerLinkActive="Active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="candidate" routerLinkActive="Active">Candidate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="reactive" routerLinkActive="Active">Reactive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" routerLinkActive="Active">Signup</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
